.about-me-text{
    margin-top: 10px;
    font-size: 110%;
    p{
        padding: 15px;
    }
}

@media only screen  and (min-width: 1900px) and (min-height: 1000px) {
    .about-me-text{
        font-size: 120%;
    }
}