.wrapper-page{
  background-image: url('./../img/bcg1200.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
}