$fontSizeHeader: 14px;
$positionContactsTop: 4px;

.contacts{
  width: 100%;
  height: 260px;
  background-color: #3e4149;
  position: relative;
}

.contacts-header {
  text-align: right;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #f7d0b1;
}

.phone{
  width: 300px;
  height: 50px;
  position: relative;
  top: $positionContactsTop;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-data {
    color: #f0eff2;
    margin-right: 10px;

    &-header {
      font-size: $fontSizeHeader;
    }
  
    &-number {
      font-size: 14px;
    }
  }

  &-ico {
    width: 28px;
    height: 28px;
    background-image: url('./../img/phone32.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
  }
}

.email{
  width: 300px;
  height: 50px;
  position: relative;
  top: $positionContactsTop;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-data {
    color: #f0eff2;
    margin-right: 10px;

    &-header {
      font-size: $fontSizeHeader;
    }
  
    &-mail {
      font-size: 14px;
    }
  }

  &-ico {
    width: 28px;
    height: 28px;
    background-image: url('./../img/mail32.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
  }
}

.telegram{
  width: 300px;
  height: 50px;
  position: relative;
  top: $positionContactsTop;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-data {
    color: #f0eff2;
    margin-right: 10px;

    &-header {
      font-size: $fontSizeHeader;
    }
  
    &-telega {
      font-size: 14px;
    }
  }

  &-ico {
    width: 28px;
    height: 28px;
    background-image: url('./../img/telegram32.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
  }
}

@media only screen  and (min-width: 1000px) and (min-height: 768px) {

  .contacts{
    min-height: 150px;;
    height: 150px;
  }

  .contacts-header {
    font-size: 110%;
  }

  .phone{

    height: 40px;

    &-data {
  
      &-header {
        font-size: 80%;
      }
    
      &-number {
        font-size: 80%;
      }
    }
  
    &-ico {
      width: 20px;
      height: 20px;
    }
  }

  .email{

    height: 40px;

    &-data {
  
      &-header {
        font-size: 80%;
      }
    
      &-mail {
        font-size: 80%;
      }
    }
  
    &-ico {
      width: 20px;
      height: 20px;
    }
  }

  .telegram{

    height: 40px;

    &-data {
  
      &-header {
        font-size: 80%;
      }
    
      &-telega {
        font-size: 80%;
      }
    }
  
    &-ico {
      width: 20px;
      height: 20px;
    }
  }

}

@media only screen  and (min-width: 1900px) and (min-height: 930px) {

  .contacts{
    width: 100%;
    height: 260px;
    background-color: #3e4149;
    position: relative;
  }
  
  .contacts-header {
    text-align: right;
    padding-right: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #f7d0b1;
  }
  
  .phone{
    width: 300px;
    height: 50px;
    position: relative;
    top: $positionContactsTop;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    &-data {
      color: #f0eff2;
      margin-right: 10px;
  
      &-header {
        font-size: $fontSizeHeader;
      }
    
      &-number {
        font-size: 14px;
      }
    }
  
    &-ico {
      width: 28px;
      height: 28px;
      background-image: url('./../img/phone32.png');
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 30px;
    }
  }
  
  .email{
    width: 300px;
    height: 50px;
    position: relative;
    top: $positionContactsTop;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    &-data {
      color: #f0eff2;
      margin-right: 10px;
  
      &-header {
        font-size: $fontSizeHeader;
      }
    
      &-mail {
        font-size: 14px;
      }
    }
  
    &-ico {
      width: 28px;
      height: 28px;
      background-image: url('./../img/mail32.png');
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 30px;
    }
  }
  
  .telegram{
    width: 300px;
    height: 50px;
    position: relative;
    top: $positionContactsTop;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    &-data {
      color: #f0eff2;
      margin-right: 10px;
  
      &-header {
        font-size: $fontSizeHeader;
      }
    
      &-telega {
        font-size: 14px;
      }
    }
  
    &-ico {
      width: 28px;
      height: 28px;
      background-image: url('./../img/telegram32.png');
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 30px;
    }
  }

}