@font-face { 
  font-family: "MuseoSansCyrl300";
  src: url("./../fonts/MuseoSansCyrl300.ttf");
  font-style: normal;
}

footer{
  height: 120px;
  font-family: "MuseoSansCyrl300";
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;

  &-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 120px;

    &:hover{
      cursor: pointer;
      background-color: #F3F3F3;
      text-decoration: underline;
    }

    &-img1{
      width: 50px;
      height: 50px;
      background-image: url('./../img/ic_1.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-img2{
      width: 50px;
      height: 50px;
      background-image: url('./../img/ic_2.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-img3{
      width: 50px;
      height: 50px;
      background-image: url('./../img/ic_3.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-img4{
      width: 50px;
      height: 50px;
      background-image: url('./../img/ic_4.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-img5{
      width: 50px;
      height: 50px;
      background-image: url('./../img/ic_5.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-description{
      width: calc(80% - 50px);
      color: #323232;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.bottom-line{
  margin-bottom: 40px;
}


@media (max-width: 991px) {

  .services-item{
    flex-direction: column;
    align-items: center;
  }

  .services-item-description{
    text-align: left;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .services-item-description{
    width: calc(142% - 50px);
    text-align: center;
  }
}

@media (max-width: 575px) {
  footer{
    height: 240px;
  }

  .services{
    flex-flow: wrap;
    width: 100%;
    height: 100%;

    &-item{
      min-width: 32%;
      flex-flow: wrap;
    }
  }

  .services-item-description{
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}