@font-face { 
  font-family: "MuseoSansCyrl300";
  src: url("./../fonts/MuseoSansCyrl300.ttf");
  src: url("./../fonts/MuseoSansCyrl700.ttf");
  font-style: normal;
}

.logo-plus-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}


.logo{
  width: 300px;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;

  &-img{
    background-image: url('./../img/logo.png');
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15.42px;
  }
}

.wrapper-header{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;

  &-header{
    color: #000000;
    font-size: 18.9px;
    font-weight: 700;
  }

  &-description{
    color: #323232;
    font-size: 14.45px;
    font-weight: 300;
  }
}

input[type="text"] {
  background: #F3F3F3;
  border:0px solid #ffffff;
  outline: none;
  height: 20px;
  width: calc(73% - 300px);
  color: #000000;
  font-size: 16px;
  font-family: "MuseoSansCyrl300";
  padding: 15px 20px;
  background-image: url('./../img/search.svg');
  background-size: 4%;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 15px;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 100%;
  font-family: "MuseoSansCyrl300";
  font-weight: 300;

  & ul{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      & li {
          width:calc(100% / 7);
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          cursor: pointer;

          &:hover{
              background-color: #E69A37;
              color: #ffffff;
          }
      }
  }
}

.news{
  background-color: #323232;
  color: #ffffff;
}


@media (max-width: 1200px) {
  input[type="text"] {
    background-position-y: 17px;
  }
}

@media (max-width: 992px) {
  input[type="text"] {
    background-size: 6%;
    background-position-y: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  input[type="text"] {
    width: calc(87% - 300px);
    background-position-y: 18px;
    font-size: 13px;
  }

  .nav ul li{
    font-size: 13px;
  }
}

.burger{
  display: none;
}

.burger-list{
  display: none;
}

@media (max-width: 575px) {

  .logo-plus-search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
  }

  input[type="text"] {
    width: calc(140% - 300px);
    background-position-y: 17px;
    background-size: 18px 18px;
    font-size: 13px;
  }

  .nav ul li{
    font-size: 13px;
    width: 32%;
  }

  .nav{
    display: none;
  }

  .burger{
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 15px;
    right: 15px;
    z-index: 3;
  
    & span{
      position: absolute;
      background-color: #000000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }
  
    &::before, &::after{
      content: '';
      background-color: #000000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
  
    &::before{
      top: 0;
    }
  
    &::after{
      bottom: 0;
    }
  }

  .burger:hover{
    cursor: pointer;
  }

  .burger-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    position: absolute;
    background-color: #f3efea;
    top: -100%;
    left: 0;
    transition: all 1s ease 0s;

    & ul{
      list-style: none;
      text-align: center;
    }

    & ul li {
      font-size: 20px;
      width: 120%;
      height: 22px;
      padding: 5px 5px;
      cursor: pointer;
    }

    & ul li:hover {
      background-color: #E69A37;
      color: #ffffff;
    }
  }

  .burger.burger-active::before{
    transform: rotate(45deg);
    top: 10px;
    transition: all .5s ease 0s;
  }

  .burger.burger-active::after{
    transform: rotate(-45deg);
    top: 10px;
    transition: all .5s ease 0s;
  }

  .burger.burger-active span{
    display: none;
    transition: all .5s ease 0s;
  }


  .burger-list-active{
    top: 0px;
    transition: all .5s ease 0s;
  }

  .burger-active{
    transition: all .5s ease 0s;
  }

  .line-bottom{
    margin-bottom: 40px;
  }
}