.right-side{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
}

.buttons{
    width: 50%;
    height: 100%;
    background-color: #3e4149;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    font-weight: 700;
    color: #f7d0b1;
    cursor: pointer;
}

.inactive-button{
    transition: .5s;
    position: relative;
    overflow: hidden;

    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #f0eff2;
        transition: 1s;
        top: 0px;
        left: -100%;
    }

    &:hover::before{
        left: 0;
    }

    &:hover{
        p{
            color: black;
            z-index: 1;
        }
    }
}

.active-button{
    background-color: #e4e2de;
    color: #000000;
}

@media only screen  and (min-width: 1000px) and (min-height: 768px) {
    .nav{
        height: 30px;
    }
}

@media only screen  and (min-width: 1920px) {
    .nav{
        height: 40px;
    }
}