.project{
  position: relative;
  max-width: 350px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 100px rgba($color: #000000, $alpha: .5);
  margin-top: 60px;
  padding: 20px 20px;
  transition: .3s ease-in-out;
  background-color: #f0eff2;
  margin-bottom: 60px;

  &:hover{
    height: 300px;
  }

  &:hover &-description{
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: .1s;
    top: -50px;
  }

  &-img1{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/onliner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img2{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/apple.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img3{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/shelter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img4{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/MyCV.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img5{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/Webdev.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img6{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/Weekly.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img7{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/tic-tac-toe.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img8{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/covid.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img9{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/orc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img10{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/gem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img11{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/english.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-img12{
    position: relative;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    background-image: url('./../img/calculator.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    top: -60px;
    left: 50px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 5px 60px rgba($color: #242323, $alpha: .5);
  }

  &-description{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    z-index: 2;
    top: -50px;

    &-header{
      position: relative;
      top: 15px;
      font-size: 110%;
    }

    &-link{
      display: inline-block;
      width: 100px;
      height: 30px;
      background-color: #3e4149;
      margin-top: 30px;
      margin-right: 40px;
      cursor: pointer;
      font-size: 16px;
    }

    &-github{
      display: inline-block;
      width: 100px;
      height: 30px;
      background-color: #3e4149;
      margin-left: 40px;
      margin-top: 30px;
      cursor: pointer;
      font-size: 16px;
    }

    & a{
      text-decoration: none;
      position: relative;
      color: #f0eff2;
      vertical-align: middle;
      z-index: 1;
    }
  }
}

.link{
  transition: .3s;
  position: relative;
  overflow: hidden;

  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f7d0b1;
    transition: .5s;
    top: 0px;
    left: -100%;
    z-index: 0;
  }

  &:hover::before{
    left: 0;
    z-index: 0;
  }

  &:hover{
    a{
      color: black;
      z-index: 1;
    }
  }
}


@media only screen  and (min-width: 1900px) {
  .project-description-header{
    position: relative;
    top: 15px;
    font-size: 24px;
  }

  .project-description-link{
    font-size: 18px;
  }

  .project-description-github{
    font-size: 18px;
  }
}