@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import './header.scss';
@import './content.scss';
@import './footer.scss';


*{
    margin: 0;
    padding: 0;
}

@font-face { 
    font-family: "MuseoSansCyrl100";
    src: url("./../fonts/MuseoSansCyrl100.ttf");
    src: url("./../fonts/MuseoSansCyrl300.ttf");
    src: url("./../fonts/MuseoSansCyrl700.ttf");
    font-style: normal;
    font-weight: 100;
}

body{
    overflow-x: hidden;
    font-family: "MuseoSansCyrl300";
}

.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container{
        max-width: 1200px;
    }
}

@media (max-width: 1399px) {
    .container{
        max-width: 1200px;
    }
}

@media (max-width: 1199px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 991px) {
    .container{
        max-width: 750px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container{
        max-width: 560px;
    }
}

@media (max-width: 575px) {
    .container{
        max-width: none;
    }
}

.line{
    width: 6000px;
    height: 1px;
    background-color: #000000;
    opacity: .15;
    position: relative;
    left: -1500px;
}