@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import './header.scss';


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.line{
    width: 6000px;
    height: 1px;
    background-color: #000000;
    opacity: .15;
    position: relative;
    left: -1500px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;

    & ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & li {
            width: 130px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            cursor: pointer;

            &:hover{
                background-color: #E69A37;
                color: #ffffff;
            }
        }
    }
}

.news{
    background-color: #323232;
    color: #ffffff;
}